extends ../../layouts/ui-kit-layout.pug
include ../../components/text-field/text-field.pug
include ../../components/head/head.pug
include ../../components/dropdown/dropdown.pug

block variables
  - title = "Form Elements";

block content
  .form-elements 
    .form-elements-container 
      .form-elements__first-block
        .form-elements__fields 
          .text-field-wrapp
            +head("text field", "default")
            +text-field([
              {
                placeholder: "Email"
              }
              ])
          .text-field-wrapp
            +head("text field", "hover / focus")
            +text-field([
            {
              style: "hover-focus",
              placeholder: "This is pretty awesome"
            }
            ])
          .text-field-wrapp
              +head("dropdown")
              +dropdown({
                  dropdownType: "default",
                  previewText: "Сколько гостей",
                  contentItems: [
                    {
                      itemText: "Взрослые"
                    },
                    {
                      itemText: "Дети"
                    },
                    {
                      itemText: "Младенцы"
                    },
                  ],
                  controlButtons: [
                    {
                      buttonName: "Очистить",
                      isButtonHidden: true,
                      clearClass: "dropdown__button-clear"
                    },
                    {
                      buttonName: "Применить",
                    }
                  ],
              })
      .form-elements__second-block
      .form-elements__third-block
        