$mainTextcolor:#1F2041;
$textColor75:rgba(31, 32, 65, 0.75);
$textColor50:rgba(31, 32, 65, 0.5);
$textColor25:rgba(31, 32, 65, 0.25);
$textColor5:rgba(31, 32, 65, 0.05);
$purpleColor:#BC9CFF;
$greenColor: #6FCF97;

$mainFontFamily: 'Montserrat', Arial, sans-serif;
 