@import '../../styles/mixins';
@import '../../styles/vars';

.color {
   display: flex;
   min-width: 281px;

   &_padding-bottom {
      padding-bottom: 20px;
   }
}
.color__square {
   width: 70px;
   height: 70px;
   background: $mainTextcolor;
   border-radius: 6px;

   &_backround_main {
      background: $mainTextcolor;
   }
   &_backround_75 {
      background: $textColor75;
   }
   &_backround_50 {
      background: $textColor50;
   }
   &_backround_25 {
      background: $textColor25;
   }
   &_backround_5 {
      background: $textColor5;
   }
   &_backround_purple {
      background: $purpleColor;
   }
   &_backround_green {
      background: $greenColor;
   }
   
}
.color__description {
   padding-left: 40px;
   padding-top: 1px;
   @include center;
}
.color__title,
.color__hex {
   color: #1F2041;
   line-height: 27.79px;
   font-size: 19px;
}
.color__title {
   font-weight: 700;
}
.color__hex {
   font-weight: 400;
}
