mixin colors(background, title, hex, ...isPadding)
  div(class = `color ${isPadding}`)
    div(class = `color__square ${background}`)
    .color__description
      h2.color__title #{title}
      p.color__hex #{hex}

  