mixin header  
  .header 
    .logo 
      img(src=require("../../img/angular-brands.svg") alt="ang")
    .links
      ul 
        li link 
        li link
        li link
        li link
        li link