@import '../../styles/global.scss';

.header {
   height: 50px;
   display: flex;
   justify-content: space-around;
}

.logo {
   width: 50px;
}

.links ul {
   display: flex;
   
   li {
      margin-right: 10px;
   }
}