mixin text-field(fieldOptions=[])
  each option in fieldOptions
    .field 
      .field__input 
        input(type="text", class=`text-field text-field_${option.style}`, placeholder = `${option.placeholder}`)
