@import '../../styles/mixins';
@import '../../styles/vars';

.text-field {
   width: 320px;
   height: 44px;
   
   background: #FFFFFF;
   border: 1px solid $borderColor25;
   border-radius: 4px;

   padding: 13px 0 13px 15px;

   &::placeholder {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $textColor25;
   }

   &:hover,
   &:focus {
      border: 1px solid $borderColor50;
      &::placeholder {
         color: $textColor75;
      }
   }
   &_hover-focus {
      border: 1px solid $borderColor50;
      &::placeholder {
         color: $textColor75;
      }
   }
}


