extends ../../layouts/ui-kit-layout.pug
include ../../components/colors/colors.pug

block variables
  - title = "Colors & Type"

block content
  .colors-type-wrapp 
    .colors-type-wrapp__container 
      .colors
        +colors("color__square_backround_main", "Dark Shade 100%",  "#1F2041", "color_padding-bottom")
        +colors("color__square_backround_75", "Dark Shade 75%",  "#1F2041", "color_padding-bottom")
        +colors("color__square_backround_50", "Dark Shade 50%",  "#1F2041", "color_padding-bottom")
        +colors("color__square_backround_25", "Dark Shade 25%",  "#1F2041", "color_padding-bottom")
        +colors("color__square_backround_5", "Dark Shade 5%",  "#1F2041", "color_padding-bottom")
        +colors("color__square_backround_purple", "Purple",  "#BC9CFF", "color_padding-bottom")
        +colors("color__square_backround_green", "Green",  "#6FCF97")

